{% load static %}
{% load chunks %}
<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
       
    </div>
    {% for product_chunks in products|chunks:4 %}
    <div class="row">
        {% for product in product_chunks %}
        <div class="col-4">
            <a href="{% url 'detail_products' product.id  %}"><img src="{{ product.image.url }}"></a>
            <h4>{{ product.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{ product.price }}</p>
        </div>
       {% endfor %}
        <div class="col-4">
            <img src="{% static 'images/product-3.jpg' %}">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-4.jpg' %}">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>${{ product.price }}</p>
        </div>
        
    </div>
    {% endfor %}
  
    <div class="page-btn">
        {% for i in products.paginator.page_range  %}
      <a href="?page{{i}}"><span>{{i}}</span></a>
      <!-- <a href="?page2"><span>2</span></a>
      <a href="?page3"><span>3</span></a> -->
      <span>-></span>
      {% endfor %}
    </div>
</div>